/*styles make fights*/

{
     outline: 2px solid red; 
  }

.header {
    display:flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color: #1f2937;
   color:#F9FAF8 ;
}

header li {
    list-style-type: none;
    display: inline;
}

header li a {
    padding: 8px;
}


.header-logo {
    display: block;
    font-size: 24px;
    align-self: center;
    padding-left: 8px;
}

.hero {
    display: flex;
    padding-top: 50px;
    padding-bottom:50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1f2937;
    color: #E5E7EB;
    align-items: center;
}

.hero h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

.hero p {
    margin-top: 0;
    margin-bottom:5px;
    font-size: 18px;
}

.hero button {
    background-color:#3882F6;
    color: #E5E7EB;
    border: none;
    border-radius: 4px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:90%;
  }

.information-section {
    margin-left: 100px;
    margin-right: 100px;
}

.information-section h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.photo-grid {
    display: flex;
}

.photo-grid p {
    margin: 10px;
    color: #E5E7EB;
    text-align: center;
}

.photo-grid img {
    outline: 2px solid #3882F6;
    border-radius: 4px;
}

.photo-card {
    margin: 10px;
}

.quote-section {
    display:flexbox;
    background-color: #E5E7EB;
    padding:100px;
}

.quote-section h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin-bottom: 0;
}

.quote-section p {
    margin-top: 0;
    text-align: right;
}


  

